  await loadLayer(
    [
      './static/SalesTax/salestax.geojson',
      './static/SalesTax/sales_tax.geojson',
      './static/salestax.geojson',
      './static/sales_tax.geojson'
    ],
    salesTaxLayer,
    {
      renderer: L.canvas(),

      style: function(feature) {

        const props = feature.properties || {};

        const local =
          Number(
            props.LOCAL_RATE ??
            props.local_rate ??
            props.LOCAL ??
            props.local ??
            0
          );

        const state =
          Number(
            props.STATE_RATE ??
            props.state_rate ??
            props.STATE ??
            props.state ??
            4.225
          );

        const explicitTotal =
          props.TOTAL_RATE ??
          props.total_rate ??
          props.TOTAL ??
          props.total;

        const total =
          explicitTotal !== undefined &&
          explicitTotal !== null &&
          explicitTotal !== ''
            ? Number(explicitTotal)
            : local + state;

        if (total >= 9) {
          return {
            color: '#660000',
            fillColor: '#cc0000',
            weight: 2,
            fillOpacity: 0.35
          };
        }

        if (total >= 8) {
          return {
            color: '#994400',
            fillColor: '#ff8800',
            weight: 2,
            fillOpacity: 0.28
          };
        }

        return {
          color: '#666600',
          fillColor: '#ffff66',
          weight: 2,
          fillOpacity: 0.22
        };

      },

      onEachFeature: function(feature, layer) {

        const props = feature.properties || {};

        const area =
          props.NAME ||
          props.name ||
          props.AREA ||
          props.area ||
          props.CITY ||
          props.city ||
          'Sales Tax Area';

        const local =
          Number(
            props.LOCAL_RATE ??
            props.local_rate ??
            props.LOCAL ??
            props.local ??
            0
          );

        const state =
          Number(
            props.STATE_RATE ??
            props.state_rate ??
            props.STATE ??
            props.state ??
            4.225
          );

        const explicitTotal =
          props.TOTAL_RATE ??
          props.total_rate ??
          props.TOTAL ??
          props.total;

        const total =
          explicitTotal !== undefined &&
          explicitTotal !== null &&
          explicitTotal !== ''
            ? Number(explicitTotal)
            : local + state;

        layer.bindPopup(
          `<b>${escapeHtml(area)}</b><br>` +
          `Missouri State: ${state.toFixed(3)}%<br>` +
          `Local: ${local.toFixed(3)}%<br>` +
          `<b>Total: ${total.toFixed(3)}%</b>`
        );

      }
    },
    'Sales Tax'
  );